openapi: 3.2.0
info:
  title: Warmhouse API - OpenAPI 3.2
  description:
  termsOfService: https://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.13
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
  - url: https://warmhouse.inc.ru/api/v3
    description: Production server (OAS 3.2)
  - url: https://warmhouse-staging.warmhouse.inc.ru/api/v3
    description: Staging server
tags:
  - name: device
    summary: Device management operations
    description: Everything about device
    externalDocs:
      description: Find out more
      url: https://warmhouse.inc.ru
paths:
  /device/{deviceId}:
    get:
      tags:
        - device
      summary: Find device by identifier.
      description: Returns a single device info.
      operationId: getDeviceById
      parameters:
        - name: deviceId
          in: path
          description: ID of device to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
            application/xml:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Invalid ID supplied
        '404':
          description: Device not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - api_key: []
        - device_auth:
            - write:devices
            - read:devices
    put:
      tags:
        - device
      summary: Update device info.
      description: This can only be done by the logged in user.
      operationId: updateDevice
      parameters:
        - name: deviceId
          in: path
          description: ID of device to be updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update an existent device in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
          application/xml:
            schema:
              $ref: '#/components/schemas/Device'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Device'
      responses:
        '200':
          description: successful operation
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /device/{deviceId}/updateStatus:
    post:
      tags:
        - device
      summary: Update status of an device.
      description: Update status of an device.
      operationId: updateDeviceStatus
      parameters:
        - name: deviceId
          in: path
          description: ID of device to return
          required: true
          schema:
            type: integer
            format: int64
        - name: status
          in: query
          description: status
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - device_auth:
            - write:devices
            - read:devices
  /device/{deviceId}/sendCommand:
    post:
      tags:
        - device
      summary: Send command to a device.
      description: Send command to a device.
      operationId: sendCommandToDevice
      parameters:
        - name: deviceId
          in: path
          description: ID of device to return
          required: true
          schema:
            type: integer
            format: int64
        - name: command
          in: query
          description: command
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - device_auth:
            - write:devices
            - read:devices
components:
  schemas:
    Device:
      type: object
      properties:
        id:
          type: integer
          format: int64
          examples: [10]
        status:
          type: integer
          format: int64
          description: Device Status
          examples: [0, 1, 2]
          enum:
            - active
            - inactive
            - error
            - noconnect
        serialnumber:
          type: string
          description: Device Serial Number
          examples: [12345qwerty12]
        location:
          type: string
          description: Device Location
          examples: [livingroom, bedroom]
      xml:
        name: device
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: tag
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
  securitySchemes:
    device_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://warmhouse.swagger.io/oauth/authorize
          scopes:
            "write:devices": modify devices
            "read:devices": read devices
    api_key:
      type: apiKey
      name: api_key
      in: header